<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Library" name="description" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Library</title>

</head>
<body>

    <header class="container">
        <p>blabla</p>
    </header>

    <div class="leftside-menu">

        <!-- ========== Left Sidebar Start ========== -->
        <!-- LOGO -->
        <a href="/Home/index" class="logo text-center logo-light">
            <span class="logo-lg">
                <img src="/images/bibli.png" alt="" height="50">
            </span>
        </a>

        <div class="h-100" id="left-side-menu-container" data-simplebar>
            <!--- Sidemenu -->
            <ul class="side-nav">
                <li class="side-nav-item">
                    <a href="/Home/AddBook" class="side-nav-link">
                        <i class="uil-table"></i>
                        <span> Добавить книгу </span>
                    </a>
                </li>
                <li class="side-nav"
            </ul>
            <!-- End Sidebar -->
        </div>
    </div>

    <div class="content-page">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

