@using System.Security.Claims;
@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var adminRole = User.IsInRole("Administrator");
    var userRole = User.IsInRole("User");

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Library" name="description" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <link href="/html/saas/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="/html/saas/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/html/saas/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />

    <title>Library</title>

</head>
<body>
    <div class="wrapper">
        <div class="leftside-menu" style="background: #000">
            <!-- LOGO -->
            <a href="/Home/index" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="/images/bibli.png" alt="" height="50">
                </span>
            </a>
            <!--Leftside Menu-->
            <div class="h-100" id="leftside-menu-container">

                <ul class="side-nav">
                    <li class="side-nav-title side-nav-item" style="color: white">Menu</li>
                    <!-- Books -->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarBooks" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                            <span style="color:white"> Книги </span>
                        </a>
                        <div class="collapse" id="sidebarBooks">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a asp-controller="Book" asp-action="ShowAllBooks"><span style="color:white">Список всех книг</span></a>
                                </li>
                                <li>
                                    <a asp-controller="Book" asp-action="AddBook"><span style="color:white">Добавить новую книгу</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    @if (adminRole)
                    {
                        <!-- Readers -->
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarReaders" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                                <i class="uil-home-alt"></i>
                                <span style="color:white"> Читатели </span>
                            </a>
                            <div class="collapse" id="sidebarReaders">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a asp-controller="Reader" asp-action="Index"><span style="color:white">Показать читателей</span></a>
                                    </li>
                                    <li>
                                        <a asp-controller="Reader" asp-action="AddBookToReaderByAdmin"><span style="color:white">Добавить книгу читателю</span></a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                <div class="navbar-custom">
                    <ul class="list-unstyled topbar-menu float-end mb-0">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" role="button" aria-haspopup="false"
                                   aria-expanded="false">
                                    <span class="account-user-avatar">
                                        <img src="/images/Avatar.jpeg" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name">@User.Identity.Name</span>
                                        <span class="account-position">Role Layout 88</span>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                    <!-- item-->
                                    <a asp-action="ShowReader" asp-controller="User" asp-route-userId="@userId" class="dropdown-item notify-item">
                                        <i class="mdi mdi-account-circle me-1"></i>
                                        <span>Профиль</span>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-account-edit me-1"></i>
                                        <span>Settings</span>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-lifebuoy me-1"></i>
                                        <span>Support</span>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-lock-outline me-1"></i>
                                        <span>Lock Screen</span>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-logout me-1"></i>
                                        <span>Logout</span>
                                    </a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Register" class="text-muted ms-1">Зарегистрироваться</a>
                            <a asp-controller="Account" asp-action="Login" class="text-muted ms-1">Войти</a>
                        }
                    </ul>
                    <button class="button-menu-mobile open-left">
                        <i class="mdi mdi-menu"></i>
                    </button>

                </div>
                <!-- end Topbar -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>





    <script src="/html/saas/assets/js/vendor.js"></script>
    <script src="/html/saas/assets/js/app.js"></script>

    <!-- third party js -->
    <script src="/html/saas/assets/js/vendor/apexcharts.min.js"></script>
    <script src="/html/saas/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/html/saas/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
    <!-- third party js ends -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

