@using Library.Models.Authors
@model Author
<h2>Add new Author</h2>

<form method="post">
    <label>Имя</label>
    <input type="text" name="firstName" /><br />

    <label>Фамилия</label>
    <input type="text" name="lastName"/><br />

    <label>Псевдоним</label>
    <input type="text" name="pseudonym" /><br />

    <input type="submit" value="Добавить" />
</form>
