@using Library.Models

<form asp-action="AddBookToReader" asp-controller="Reader">
    <p>
        <label>Reader</label>
        <select name="readerId" asp-items="ViewBag.Readers" ></select>
    </p>
    <p>
        <label >Book</label>
        <select name="bookId" asp-items="ViewBag.Books"></select>
    </p>
    <p>
        <input type="submit" value="Add" />
    </p>
</form>

