@using Library.Models
@model Reader

<h2>@Model.FullName</h2>

<table>
    <tr><th>Books</th></tr>

    @foreach (var books in Model.Books)
    {
        <tr>
            <td>@books.Name</td>
        </tr>
    }
</table>
