@using Library.Models
@model Reader

<h2>@Model.Name</h2>

Age: @Model.Age

<table>
    <tr><th>Books</th></tr>

    @foreach (var books in Model.Books)
    {
        <tr>
            <td>@books.Name</td>
        </tr>
    }
</table>
<h3><a asp-controller="Home" asp-action="BackToMainMenu">Back to Main</a></h3>